*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #eee;
}

main{
    width:60%;
    max-width: 400px;
    display: flex;
    background-color: white;
    flex-direction: column;
    border: 1px solid black;
    border-radius: .5rem;
    margin: 1rem auto 1rem;
    padding: 2rem;
}

main>h1{
    text-align: center;
    text-transform: uppercase;
    margin:1rem;
}

main>p{
    margin:1rem;
}


fieldset{
    border: none;
    margin: 1rem;
}

fieldset>input,
fieldset>label,
fieldset>textarea{
    display: block;
    width: 100%;
    max-width: 300px;
    resize: none;
}

fieldset>input{
    margin-bottom: .7rem;
}

#fs-frm > input[type=submit]{
    display: block;
    text-align: center;
    margin: auto 1rem;
}

main>a{
    margin: 2rem 1rem 0px;
    text-align: right;
}

@media screen and (max-width:600px) {
    main{
        width:90%;
        margin: .2rem auto .2rem;
        padding: .5rem;
    }
    main>h1,
    main>p{
        margin:.2rem;
        margin-bottom: 1rem;
    }


}