:root{
    /* --color-de-letra: #0F81E0; */
    --color-de-letra:white;
    --color-de-header: yellow;
    --color-de-links: lightblue;
    --color-de-links-active: lightsalmon;
    --color-de-links-hover:red;
    --color-de-links-visited:grey;
    --tituloh3: rgba(216, 119, 1,0.85);
    --tituloh2: rgba(0, 128, 128,0.85);
    --tituloh1: rgba(216, 119, 1,1);
    /* color: ; */
}
@media (max-width: 400px) {
    body{
        font-size: 70%;
    }
}

@media (max-width: 700px) {
    body{
        font-size: 90%;
    }
}

.nav{
    position:fixed;
    top:0;
    left: 0;
    right:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111111;
    background-color: #0F81E0;
}

.fijo{
    background-color: hsl(60, 75%, 50%);
    color: black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.fijo p{
    position: relative;
    margin-top: 0px auto;
    margin-bottom:10px;
    color:black;
    font-weight: bolder;
    font-size: smaller;
    text-align: center;
}

.button, .button:active, .button:visited{
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid black ;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.button:hover{
    background-color: darkslategrey;
    border: 1px solid darkslategrey;
    color:white;
    text-decoration: none;
}


/* 
.button:hover{
    

} */

html, body{
    /* width: 100%; */
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #ffffff; */
}


.background{
    animation-name: circle-in-hesitate;
    animation-duration: 2s;
    /* background-color: rgba(14, 14, 77, 0.95); */
    /* background-size: 50%; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    position:fixed;
    z-index: -1;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 14, 77, 0.95);

}

main{
    width: 95%;
    max-width: 900px;
    text-align: left;
    margin: 100px auto 50px;
}


p{
    /* color: #171a21; */
    color:var(--color-de-letra);
    text-indent: 15px;
    line-height: 25px;
    margin-bottom: -14px;
    text-align: justify;        
}

ul,ol{
    /*max-width: 80%;*/
    margin-top: 25px;
    text-align: left;
    margin-right: 10%;
    line-height: 25px;
}

li{
    text-align:left;
    color:var(--color-de-letra);
}

h1 {
    background-color: var(--tituloh1);
    box-shadow: -5px 10px rgba(255, 218, 173,0.25);
    text-align: center;
    
    border-bottom:4px solid #647AA3;
    border-left:6px solid #647AA3;
    border-right: 2px solid #647AA3;
    border-top: 2px solid #647aa3;
    
    color: white; 
    margin-bottom: -12px;
    padding: 0.3em;
}

h2{
    margin-top: 35px;
    color:white;
    text-indent: 10px;
    /*text-shadow: -2px 2px lightgrey;*/
    background-color: var(--tituloh2);
    border-left: 6px solid #647AA3;
    border-right: 2px solid #647AA3;
    border-top: 2px solid #647AA3;
    
    border-bottom: 6px solid #647AA3;
    box-shadow: -5px 10px rgba(144, 213, 209,0.25);
    text-align:center;
    padding: 0.3em;
    
}

h3{
    /*color:#647aa3;*/
    color: white;
    margin-left: 2%;
    text-indent: 10px;
    /*text-shadow: -2px 2px #ffdaad;*/
    background-color: var(--tituloh3);
    border-left: 3px solid #647aa3;
    border-right: 1px solid #647aa3;
    border-top: 1px solid #647aa3;

    /*border-shadow: -2px 2px #ffdaad;*/
    box-shadow: -5px 10px rgba(255, 218, 173,0.25);
    margin-top:28px;
    padding: 0.3em;
}


a{
    /* color: #647AA3; */
    color:var(--color-de-links);
    text-decoration: underline currentColor;
    text-align:left;
}

a:active{
    color: var(--color-de-links-active);
}

a:hover{
    color: var(--color-de-links-hover);
}

a:visited{
    color:var(--color-de-links-visited);
}

.three{
    margin:5px 0 -5px;
    /* font-weight: lighter; */
    color: #d87701;
}

.lista{
    color: #d87701;
}


blockquote{
    /*
    box-shadow:-2.5px 5px #b8860b;
    border-left: 6px solid #b8860b;
    border-top: 1px solid #b8860b;
    border-right: 1px solid #b8860b;
    border-bottom: 1px solid #b8860b;
    
    color:black;
    font-size: small;
    font-weight: lighter;
    text-align: left;
    line-height: 1.4;
    margin: 0 0 5 0;
    max-width: 100%;
    overflow: auto;
    padding: 14px;
    background-color: lightgoldenrodyellow;
    
    margin: 0 15px 0 14px;
    00458b
    width: 90%;
    */
    color: var(--color-de-header);
    font-weight: lighter;
    font-size: smaller;
    
}


.center{
    text-align: center;
    /* border-top: 0.5px solid black; */
    /* padding-top: 15px; */
}

.linea{
    margin-top: 25px;
}

.fin{
    font-weight: lighter;
    font-size: smaller;
    text-align: center;
    margin-bottom: 100px;
}

footer{
    color:var(--color-de-letra);
}

@keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}