*{
    margin: 0;
    padding: 0;
}
/* font-family: 'Anonymous Pro', monospace;
font-family: 'Montserrat', sans-serif; */

body{
    background-color: #DDD;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows:auto auto auto auto;
    grid-template-areas:"header header"
                        "nav nav"
                        "main main"
                        "footer footer";
    
}


header{
    background-color: white;
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 30px;
    font-family: 'Montserrat', sans-serif;
}

header img{
    box-shadow: 2px 3px 5px hsl(0, 0%, 75%);
}

header h1{
    font-family: 'Anonymous Pro',monospace;
    color: #2B58E0;
    font-weight: 400;
    font-size: 2.5rem;
    margin-left: 1rem;
    text-shadow: #122661;
    letter-spacing: .15em;
    text-shadow: 2px 3px 5px hsl(0, 0%, 75%);
    
}

body > header > div > a > button{
    display: flex;
    color: #eee;
    text-decoration: none;
    background-color: #2B58E0;
    border-radius: 0.5rem;
    vertical-align: middle;
    justify-content: space-between;
    column-gap:10px;
    align-items: center;
    padding: 0.8rem 1.2rem;
}
body > header > div > a{
    text-decoration: none;
    display: block;
}


#left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


nav{
    background-color: #708EE6;
    grid-area: nav;
    padding-left: 50px;
}

nav section{
    width: 80%;
    max-width: 1000px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:15px;
}

#seleccionado{
    color: white;
    text-decoration: none;
    background-color: #2B58E0;
    border: 1px solid #2B58E0;
    padding: 0.8rem 1.4rem;
    border-radius: 0.5rem;
    margin:5px 0;
}

#seleccionado:hover{
    border: 1px solid #eeeeee;
}

.no-seleccionado{
    color: white;
    text-decoration: none;
    background-color: #708EE6;
    border: 1px solid #708EE6;
    padding: 0.8rem 1.4rem;
    border-radius: 0.5rem;
    margin:5px 0;
}

.no-seleccionado:hover{
    color: #2B58E0;
    text-decoration: none;
    background-color: #eee;
    border: 1px solid #708EE6;
    padding: 0.8rem 1.4rem;
    border-radius: 0.5rem;
    margin:5px 0;
}

nav section a{
    color:white;
    text-decoration: none;
    margin:5px 0;
    margin-left: 10px;
}

main{
    background-color: white;
    margin: 15px auto;
    min-height: 60vh;
    padding: 20px;
    width: 90%;
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    border-radius: .5rem;
    box-shadow: 2px 3px 5px hsl(0, 0%, 75%);
}

.titulos{
    padding:15px 0;
    margin:15px 0;
    text-align: right;
    font-size: 0.9rem;
    min-width: 220px;

}


.contenidos{
    border-left: 2px solid rgba(43, 88, 224,0.15);
    text-align: justify;
    padding: 35px 50px;

}

footer{
    grid-area: footer;
}

p{
    line-height: 25px;
}

p::first-line{
    text-indent: 20px;
}

ul{
    margin: 1rem 2.5rem;
    line-height: 25px;
    text-align: left;
}

footer{
    background-color: #122661;
    color:#ddd;
    font-size: small;
    font-weight: thin;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

p>a{
    text-decoration: underline;
    text-decoration-color: white;
    font-weight: bolder;
    color:rgb(162, 210, 250)
}


button{  
    background: linear-gradient(rgba(230, 230, 230,0.2),rgba(43, 88, 224,0.05));
    border-radius: .3rem;
    padding: 8px 15px;
    font-size: 1rem;
    border: 1px solid rgb(112, 142, 230);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.02);
    color:rgb(43, 88, 224);
}

button a{
    text-decoration: none;
    color:rgb(43, 88, 224);
    color:inherit;
}

button:hover{  
    box-shadow: 0 0 8px 8px rgba(43,88,224,0.05);
    background:rgb(43, 88, 224);
    border: 1px solid rgb(112, 142, 230);
    color:#ddd;
    cursor:pointer
}

p{
    margin: 12px 0 10px;
}

@media screen and (max-width:768px) {
    body{
        grid-row-gap:0px;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:10px;
        margin: 8px 10px 0px;
        padding: 20px;
        border-radius: 1rem;
        box-shadow: 2px 3px 5px hsl(0, 0%, 75%);
    }
    
    header a{
        margin: 15px 5px 0px;
        width: 100%;
    }

    nav{
        box-shadow: 2px 3px 5px hsl(0, 0%, 75%);
        padding-left: 10px;
        width: 92%;
        margin: 15px auto;
        border-radius: .5rem;
        box-shadow: 2px 3px 5px hsl(0, 0%, 75%);
    }

    nav section{
        width: 75%;
        max-width: 1000px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: flex;
        text-align: center;
        padding:10px 0;
        gap:0px;
    }

    nav section a{
        margin: 8px 10px;
    }

    main{
        flex-direction: column;
        gap: 0px;
        margin: 0px auto 10px;
        width: 88%;
    }
    
    .titulos{
        text-align: left;
    }
    
    .contenidos{
        border-top: 1px solid rgba(43, 88, 224,0.15);
        border-left:none;
        padding:10px 15px;
        text-align: justify;
    }

    #seleccionado{
        color: white;
        text-decoration: none;
        background-color: #2B58E0;
        border: 1px solid #2B58E0;
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
        margin:0px 0;
    }
    
    #seleccionado:hover{
        border: 1px solid #eeeeee;
    }
    
    .no-seleccionado{
        color: white;
        text-decoration: none;
        background-color: #708EE6;
        border: 1px solid #708EE6;
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
        margin:0px 0;
    }
    
    .no-seleccionado:hover{
        color: #2B58E0;
        text-decoration: none;
        background-color: #eee;
        border: 1px solid #708EE6;
        padding: 0.4rem 0.8rem;
        border-radius: 0.5rem;
        margin:0px 0;
    }
    

}
